.background{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}
.content
{
    position: relative;
    top:20px
}
body {
    margin: 0;
    padding: 0;
    background-color: #1a1a19;
  
    background-size: 100%;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    text-shadow: 2px 2px 5px rgb(187, 219, 45);
    
}
h2{
    color: rgb(217, 254, 2);
    text-shadow: 2px 2px 5px red;
    font-size: 30px;
}
header {
    color: #fcea78;
    padding: 1em 0;
    text-align: center;
 
}

nav {
    background-color: #e7f7f8;
    padding: 0.5em;
    text-align: center;
}

nav ul {
    list-style: none;
    font-size: 25px;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #0f0f0f;
    text-decoration: none;
    text-shadow: 2px 2px 5px red;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

.menu-item {
  color: #ddd;
  background-color: #635e5e;
  opacity: 0.8;
  width:500px;
    border: 1px solid #ddd;
    border-radius: 26px;
    padding: 1em;
    margin-bottom: 1em;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.menu-item h3 {
    margin-top: 0;
}
.menu-item:hover{
    width: 20%;
    transition: 0.5s;
}
.menu-item.selected {
    transform: scale(1.3);
    background-color: #64a6e9;
}
h2{
    color: aqua;
    font-size: 30px;
}
.price {
    font-weight: bold;
    color: #ddf005;
}
